.section-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.form-signup {
    background-color: #f5f6fa;
    width: 40em;
    border-radius: 0.2em;
    padding: 1em;
}

.form-signup p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20em;
}

.form-signup h1 {
    text-align: center;
}

.form-signup input {
    padding-left: 0.5em;
}

.form-signup a {
    text-decoration: none;
    color: #00a8ff;
}

.form-signup input {
    width: 30em;
    height: 2em;
    border-radius: 0.3em;
}

.button-signup {
    width: 30.3em;
    height: 3em;
    border-radius: 0.3em;
    color: #ffff;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
}

.images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.container-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15em;
}

.image-one {
    background-image: url('../images/photo1-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 3em;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.image-two {
    background-image: url('../images/photo2-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.container-titre h2 {
    margin : 0;
}






/*LOGIN*/

.section-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.form-login {
    background-color: #f5f6fa;
    width: 30em;
    border-radius: 0.2em;
}

.form-login p {
    text-align: center;
}

.form-login h1 {
    text-align: center;
}

.form-login input {
    padding-left: 0.5em;
}

.form-login a {
    text-decoration: none;
    color: #00a8ff;
}

.form-login input {
    width: 30em;
    height: 2em;
    border-radius: 0.3em;
}

.login-button {
    width: 30.3em;
    height: 3em;
    border-radius: 0.3em;
    color: #ffff;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
}
