.section-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.form-signup {
    background-color: #f5f6fa;
    width: 40em;
    border-radius: 0.2em;
    padding: 1em;
}

.form-signup p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20em;
}

.form-signup h1 {
    text-align: center;
}

.form-signup input {
    padding-left: 0.5em;
}

.form-signup a {
    text-decoration: none;
    color: #00a8ff;
}

.form-signup input {
    width: 30em;
    height: 2em;
    border-radius: 0.3em;
}

.button-signup {
    width: 30.3em;
    height: 3em;
    border-radius: 0.3em;
    color: #ffff;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
}

.images-container-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3em;
   
}

.container-image-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
}

.image-one-signup {
    background-image: url('../images/photo1-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 1em;
    margin-left: 3em;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.image-two-signup {
    background-image: url('../images/photo2-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 10em;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.container-titre-signup h2 {
    font-weight: unset;
    margin-left: 8em;
    font-size: 16px;
    text-align: center;
    width: 25em;
}

@media screen and (max-width: 480px) {
    .section-signup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;   
    }

    .form-signup {
        background-color: red;
        width: 15em;
        display: block;
        margin-left: 1.5em;
    }

    .form-signup input {
        width: 15em;
    }

    .button-signup {
        width: 18em;
    }

    .form-signup p {
        font-size: 12px;
    }

    .images-container-signup {
        margin-bottom: 1em;
       
    }

    .image-one-signup {
        width: 100px;
        height: 100px;
        margin-top: 7em;  
    }

    .image-two-signup {
        width: 100px;
        height: 100px;
        margin-top: 7em;
    }

    .container-titre-signup h2 {
        margin-left: 0em;
        font-size: 13px;
    }

  }





/*LOGIN*/

.section-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.images-container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3em;
   
}

.container-image-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15em;
}

.image-one-login {
    background-image: url('../images/photo1-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 1em;
    margin-left: 3em;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.image-two-login {
    background-image: url('../images/photo2-babyplay.jpeg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-right: 10em;
    border-radius: 50%;
    border: 10px solid #dcdde1;
}

.container-titre-login h2 {
    font-weight: unset;
    margin-left: 8em;
    font-size: 16px;
    text-align: center;
    width: 18em;
}

.form-login {
    background-color: #f5f6fa;
    width: 30em;
    border-radius: 0.2em;
}

.form-login p {
    text-align: center;
}

.form-login h1 {
    text-align: center;
}

.form-login input {
    padding-left: 0.5em;
}

.form-login a {
    text-decoration: none;
    color: #00a8ff;
}

.form-login input {
    width: 30em;
    height: 2em;
    border-radius: 0.3em;
}

.login-button {
    width: 30.3em;
    height: 3em;
    border-radius: 0.3em;
    color: #ffff;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
}


