.section-signup {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.form-signup {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}






.form-login {
    background-color: yellow;
    width: 200px;
    height: 800px;
    margin-top: 50px;
}