#listEtiquettes {
    background-color: grey;
    width: 1200px;
    display: block;    
}

.container-listEtiquettes {
    background-color: hotpink;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.etiquettes {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 10em;
    height: 10em;
    margin: 1em 2em 1em 2em;
}



.add-etiquette {
    background-color: yellow;
    width: 800px;
    height: 600px;
    margin-left: 50em;
    margin-top:20em;
}
