#listEtiquettes {
    background-color: grey;
    width: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.container-listEtiquettes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.etiquette {
    background-color: hotpink;
}



.add-etiquette {
    background-color: yellow;
    width: 800px;
    height: 600px;
    margin-left: 50em;
    margin-top:20em;
}
