.add-etiquette {
    background-color: yellow;
    width: 800px;
    height: 600px;
    margin-left: 50em;
    margin-top:20em;
}

.container-listEtiquettes {
    color: blue;
    width: 600px;
    height: 400px;
    margin-top: 10em;
    margin-left: 15em;
}

