#homepage {
    background-image: url('../../images/background-image.jpg');
    background-size: cover;
    height: 97vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-homepage {
    background-image: url('../../images/image-homepage.jpeg');
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #ffe5b9;
    margin-left: 7em;
}