.footer {
    background-color: #c9cbff;
    position: fixed;
    bottom: 0;
    width: 100%;  
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}



@media screen and (max-width: 480px) {
    .footer {
        height: 10em;
        margin: 0;
        align-items: center;
        justify-content: space-between;
         
    }
}
