
.section-navbar {
    background-color: #eff8ff;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
}

.section-navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70em;
    padding: 0;
    margin-left: 3em;
}

.section-navbar ul li {
    list-style: none;
    text-align: center;
}

.section-navbar ul li a {
    text-decoration: none;
    color: inherit;
}

.button-login {
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
    width: 10em;
    height: 3em;
    border-radius: 0.4em;
}

.button-login a {
    text-decoration: none;
    color: inherit;
}

.bottle {
    color: #00a8ff;
    font-size: 3em;
}

.profile-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-logout button {
    margin-left: 1em;
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
    width: 7em;
    height: 2em;
    border-radius: 0.4em;
}

.personn-connected {
    color: #00a8ff;
    font-size: 35px;
}

@media screen and (max-width: 480px) {
    .section-navbar ul {
        width: 18em;
        margin-left: 1em;
    }

    .button-login {
        width: 7em;
        height: 2.5em;
    }

    .bottle {
        font-size: 2em;
    }
}

